<div class="name">
  Carolina <br />
  Vallejo <br />
  Martínez
</div>
<div class="place">
  Berlin, Germany
</div>

<div class="title">
  Developer & Data Visualisation Designer
</div>
<div class="sentence">
  Front-end Developer and Designer specialised in Software Development, Data
  Visualisation and Interaction Design.
</div>

<!-- LOGOS -->

<div class="logos">
  <a
    href="https://github.com/carolina-vallejo"
    class="social github"
    target="_blank"
  ></a>
  <a
    href="https://www.linkedin.com/in/carolina-vallejo-mart%C3%ADnez-76861145/"
    class="social linkedin"
    target="_blank"
  ></a>
  <a class="social vimeo" target="_blank"></a>
</div>
