<div class="brand">
  <div class="name">
    Carolina <br />
    Vallejo <br />
    Martínez
  </div>
  <div class="title">Frontend Engineer</div>
  <div class="line"></div>
</div>

<div class="sentence">
  I am a Frontend engineer happy to build robust and scalable software using the
  best development technologies and working effectively in cross-functional
  teams.
</div>

<!-- LOGOS -->

<div class="logos">
  <a
    href="https://github.com/carolina-vallejo"
    class="social github"
    target="_blank"
  ></a>
  <a
    href="https://www.linkedin.com/in/carolina-vallejo-mart%C3%ADnez-76861145/"
    class="social linkedin"
    target="_blank"
  ></a>
  <a class="social vimeo" target="_blank"></a>
</div>
