/*
    Colors
*/
$highlight-color: #3880ff;
$gray: #5b708b;
$gray-bright: rgba($gray, 0.5);
$black: #020814;
/*
    fonts
*/

$title: 2em;
$sub-title: 1.3em;
$text: 0.9em;

$labelFont: "Roboto Mono";
