/*
    Colors
*/
$highlight-color: #0094ff;
$gray: #5b708b;
$gray-bright: rgba($gray, 0.5);
$gray-light: #dce5ef;
$black: #020814;
/*
    fonts
*/

$title: 2em;
$sub-title: 1.3em;
$text: 0.9em;

$labelFont: "Roboto Mono";

/*
    Media query
*/
$media-query-ipad: 900px;
$media-query-mobile: 600px;

/*
    Spacing
*/
$spacer: 4px;

/*
    Globals
*/
$margin-top: 60px;
