<div class="links">
  <a
    class="link"
    *ngFor="let link of project.links"
    [href]="link.href"
    target="_blank"
    >{{ link.title }}</a
  >
</div>

<div class="meta">
  <div class="year">
    {{ project.year }}
  </div>
  <span class="separator">|</span>
  <div class="category" [innerHtml]="project.category"></div>
</div>

<div class="title" [innerHtml]="project.title"></div>

<div class="content">
  <div
    class="image"
    [ngStyle]="{
      'background-image':
        'url(' + '../../../assets/slides/' + project.key_image + ')'
    }"
  ></div>
  <div class="description" [innerHtml]="project.description"></div>
</div>
